
{{>header}}
    {{>innavbar}}
    <div class="container">
        <div>
            
{{!-- {{locals.user? email=user.email:"sorry"}} --}}
<h3><b>Name:</b> {{user.firstName }} {{user.lastName}}</h3>
<h3><b>Email Address: </b>{{user.email}}</h3>
<h3><b>Phone number: </b>{{user.phone}}</h3>
<form action="/loggedin/edit" method="get">
    <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem; ">Edit Profile</button>
    
</form>
        </div>
        <div>
            <img id="profile" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" alt="">
        {{!-- <input type="file" name="image" > --}}
        </div>
    
<h1>Hello, {{user.firstName}}</h1>
    
    </div>

<style>
   .container{
    display: flex;
    justify-content:space-between;
    flex-direction: column-reverse;
    padding: 30px;
    align-items: center;
    border-radius: 20px;
    width: auto;
    background-image: linear-gradient(aqua,rgb(132, 132, 230))
    
}
.container img{
    height: 200px;

    border-radius: 30px;
}

</style>
{{>footer}}